.login {
    margin-top: 100px;
    margin-left: 450px;
    width: 400px;
}

.alert-error {
    width: 400px;
}

.alert-success {
    width: 400px;
}

.form-actions {
    width: 300px;
}

h1 {
    text-align: center;
    margin-left: 100px;
    padding-bottom: 50px;
    font-family: "Times New Roman", Georgia, Serif;
}

.gumb {
    
}